header {
    text-align: center;
    font-size: 3rem;
    background-color: blue;
    color: white;
    padding: 4rem;
}

.weather-container {
    display: flex;
    justify-content: left;
    margin: 2rem;
    width:33%;
    
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.cities {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2rem;
}

.inpu-bar{
    font-size: x-large;
}

.search {
    margin-top: 1rem;
}
