header {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    background-color: rgb(176, 51, 53);
    color: white;
    padding: 4rem;
}

.card {
    display: flex;
    margin: 2rem;
    width: 25%;
    height: 10rem;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

.row {
    padding-left: 1rem;
    padding-right: 2rem;
}

.input-bar{
    font-size: x-large;
    text-align: center;
}

#btn {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

button {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#locations {
    text-align: center;
    max-width: 30%;
} 

h3{
    border-bottom: 2px solid black;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    display: flex;
    margin: 2rem;
    width: 60%;
    height: 10rem;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

.container2 {
    display: flex;
    margin: 2rem;
    width: 60%;
    height: 10rem;
    border: 2px solid black;
    margin-left: 2.7rem;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

.locations {
    font-size: 1.5rem;
    width: 25%;
    margin: 2rem;
    text-align: center;
}

.outlook {
    height: 30rem;
}
