header {
    text-align: center;
    font-size: 3rem;
    background-color: blue;
    color: white;
    padding: 4rem;
}

.card {
    display: flex;
    margin: 2rem;
    width: 25%;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

.row {
    padding-left: 1rem;
    padding-right: 2rem;
}

.input-bar{
    font-size: x-large;
    text-align: center;
}

#search {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

button {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.location {
    text-align: center;
    max-width: 30%;
} 

h3 {
    border-bottom: 2px solid black;
}

.today {
    text-align: center;
    margin-top: 1rem;
    font-size: x-large;
    border: 2px solid black;
}

.city {
    display: flex;
    width: 60%;
    border: 2px solid black;
    float: right;
}

.outlook {
    text-align: center;
    margin-top: 1rem;
    font-size: x-large;
    border: 2px solid black;
}
